@import './reset';
@import './variables';
@import './transitions';

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 12pt;
	padding: 20px;
}

canvas {
	position: fixed;
	inset: 0;
	z-index: -1;
}

label {
	display: block;
}

small {
	display: block;
}

/* Utility classes */
.hide-scrollbar {
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
