body {
	--color-transition: all 240ms ease-out;

	--txt: #222;

	--state-bg: #ededed;
	--state-padding: 20px;
	--state-border-radius: 24px;

	--state-header-size: 50px;
	--state-header-bg: #ddd;

	--state-preview-padding: 10px;
	--state-preview-height: 120px;
	--state-preview-bg: #bbb;

	--logo: #000;

	--range-track: #ddd;
}

body.dark {
}
